<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lht.springcloud.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.lht.springcloud.entity.Dept">
    <!--@mbg.generated-->
    <id column="dept_no" jdbcType="BIGINT" property="deptNo" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="db_source" jdbcType="VARCHAR" property="dbSource" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dept_no, dept_name, db_source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from dept
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from dept
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="dept_no" keyProperty="deptNo" parameterType="com.lht.springcloud.entity.Dept" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dept (dept_name, db_source)
    values (#{deptName,jdbcType=VARCHAR}, #{dbSource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="dept_no" keyProperty="deptNo" parameterType="com.lht.springcloud.entity.Dept" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="dbSource != null">
        db_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dbSource != null">
        #{dbSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lht.springcloud.entity.Dept">
    <!--@mbg.generated-->
    update dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dbSource != null">
        db_source = #{dbSource,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lht.springcloud.entity.Dept">
    <!--@mbg.generated-->
    update dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      db_source = #{dbSource,jdbcType=VARCHAR}
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </update>
</mapper>